{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "jsx", "css", "markup"],
        "plugins": ["show-language", "copy-to-clipboard"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
