@import "../components/base";

.content-section {
  background-color: $color-white;
  height: 100%;
  padding: 2rem;
  * {
    font-family: "eb-garamond", serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
  }
  @media screen and (min-width: $break-large) {
    padding: 2rem 8rem;
  }
}

.image {
  max-width: 250px;
  max-height: 250px;
}
