@import "../components/base";

.content-section {
  background-color: $color-light;
  height: 100%;
  padding: 2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  p,
  i,
  b,
  li,
  a {
    font-family: "eb-garamond", serif;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    padding: 0;
  }
  code,
  code > span,
  code > span > span {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.8rem;
  }
  a,
  a:visited {
    color: $color-darkred;
    text-decoration: none;
    font-weight: 600;
  }
  img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
  }
  @media screen and (min-width: $break-large) {
    padding: 2rem 8rem;
    width: 90%;
    margin: 0 auto;
  }
}
