$break-small: 400px;
$break-large: 750px;
$break-largest: 1100px;

$color-main: #111c33;
$color-secondary: #101827;
$color-contrast: #2d70ff;
$color-light: #ffffff;
$color-darkred: #ce6a6b;

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Oswald", serif;
  font-weight: 400;
}

h1,
a,
p {
  color: $color-light;
  text-decoration: none;
}

a:hover,
button:hover {
  cursor: pointer;
}
