@import "../pages/success.scss";

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Oswald", serif;
  font-weight: 400;
}
