$break-small: 400px;
$break-large: 750px;

$color-darkred: #ce6a6b;
$color-lightred: #ebaca2;
$color-lightgreen: #bed3c3;
$color-turquoise: #4a919e;
$color-darkpurple: #212e53;
$color-white: #f9f9f9f9;

.section {
  position: relative;
  margin-bottom: 4vh;
  h1,
  p {
    color: $color-white;
  }
  h1 {
    font-size: 2.2rem;
    margin-bottom: 5vh;
  }
  p {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-bottom: 2vh;
  }

  @media only screen and (min-width: $break-small) {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  .blinking {
    animation: blinkingText 1s infinite;
    font-size: 2.5rem;
    font-weight: 100;
    color: $color-white;
  }

  @keyframes blinkingText {
    0% {
      color: $color-white;
    }
    50% {
      color: transparent;
    }
    100% {
      color: $color-white;
    }
  }
}
