@import "../components/base";

.content {
  display: flex;
  flex-direction: column;
}
.about-header {
  align-self: center;
  margin: 0 0 2rem;
  margin-top: 6rem;
  padding-bottom: 1vh;
  border-bottom: 1px solid $color-contrast;
  color: $color-light;
  font-size: 1.4rem;
  @media screen and (min-width: $break-small) {
    font-size: 1.8rem;
    margin-top: 0;
  }
}

.a {
  align-self: center;
  padding-bottom: 2rem;
}

.image {
  height: 50px;
}
