@import "../components/base";

.content {
  display: flex;
  flex-direction: column;
}
.about-header {
  align-self: center;
  border-bottom: 1px solid $color-lightred;
  color: $color-white;
  font-size: 1.4rem;
  margin: 0 0 2rem;
  padding-bottom: 1vh;

  @media screen and (min-width: $break-small) {
    font-size: 1.8rem;
  }
}

.a {
  align-self: center;
  padding-bottom: 2rem;
}

.image {
  height: 50px;
}
