$break-small: 400px;
$break-large: 750px;

$color-darkred: #ce6a6b;
$color-lightred: #ebaca2;
$color-lightgreen: #bed3c3;
$color-turquoise: #4a919e;
$color-darkpurple: #212e53;
$color-white: #f9f9f9f9;

section {
  position: relative;
}

// section:nth-child(odd) {
//   background: $color-lightgreen;
// }

// .section-two {
//   div {
//     font-size: 2em;
//     width: 30%;
//     margin-top: 17%;
//     position: absolute;
//   }

//   .two,
//   .three,
//   .four {
//     position: absolute;
//   }

//   div:nth-of-type(2) {
//     width: 40%;
//     right: 0;
//     top: 20%;
//   }

//   div:nth-of-type(3) {
//     width: 25%;
//     right: 40%;
//     top: 29%;
//     margin-top: 15%;
//   }

//   span {
//     width: 100%;
//     background: red;
//     display: block;
//     height: 5px;
//     margin-top: 20px;
//   }
// }
