@import "../components/base";

.modalOverlay {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalOverlay::-webkit-scrollbar {
  width: 0 !important;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  height: 30vh;
  border-radius: 8px;
  font-size: 20px;
  color: $color-light;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  background: $color-contrast;
  background-clip: padding-box;
  outline: none;
}

.modal::-webkit-scrollbar {
  width: 0 !important;
}
