@import "../styles/index.scss";

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  padding: 0 16px;
}

.title,
.paragraph {
  display: inline-block;
  text-align: center;
  color: $color-light;
}
.title {
  margin-bottom: 0.5vh;
  font-size: 1.4rem;
}
.paragraph {
  margin: 0 0 3vh 0;
  padding: 0;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1.2px;
}

@media screen and (min-width: $break-small) {
  .title {
    font-size: 2.4rem;
  }

  .paragraph {
    line-height: 2rem;
    font-size: 1.3rem;
    font-weight: 300;
  }
}
