$break-small: 400px;
$break-large: 750px;

$color-darkred: #ce6a6b;
$color-lightred: #ebaca2;
$color-lightgreen: #bed3c3;
$color-turquoise: #4a919e;
$color-darkpurple: #212e53;
$color-white: #f9f9f9f9;

.header {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.paragraph {
  color: $color-white;
  display: inline-block;
  text-align: center;
}
.title {
  font-size: 1.4rem;
  margin-bottom: 1vh;
}
.paragraph {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4rem;
  padding-bottom: 1vh;
  border-bottom: 1px solid $color-turquoise;
}

@media screen and (min-width: $break-small) {
  .header {
    margin-top: 5vh;
  }

  .title {
    font-size: 2rem;
  }

  .paragraph {
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 300;
  }
}
