@import "base";

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  // max-width: 1200px;
  margin: 0 auto;
  padding: 3vh;
  border-top: 0.5px solid $color-light;
  text-align: center;
  color: $color-light;
  background: $color-main;
  p {
    margin: 0;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  li {
    margin: 1vh 1.5vw;
    list-style: none;
  }
  img {
    height: 25px;
  }
}
