@import "base";

.footer {
  text-align: center;
  color: $color-lightred;
}

.socialMedia {
  padding: 0;
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    margin: 1vh 1.5vw;
  }
  img {
    height: 30px;
  }
}
