@import "../styles/index.scss";

.footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5vh;
  border-top: 1px solid $color-light;
  text-align: center;
  color: $color-light;
  background: $color-main;
  p {
    margin: 0.5rem;
    font-weight: 200;
  }
}

.socialMedia {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  li {
    margin: 1vh 1.5vw;
    list-style: none;
  }
  img {
    height: 25px;
  }
}
