@import "base";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  @media screen and (min-width: $break-large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid $color-light;
  }
}

.title-container {
  .title {
    color: $color-light;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    &:before {
      animation: contentChange 10s ease-in-out infinite;
      content: attr(data-title);
    }

    @keyframes contentChange {
      0% {
        content: attr(data-title);
      }
      25% {
        content: attr(data-thai);
      }
      50% {
        content: attr(data-title);
      }
      75% {
        content: attr(data-thai);
      }
      100% {
        content: attr(data-title);
      }
    }
  }
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  label {
    display: none;
    outline-color: transparent;
    font-size: 2.5rem;
    color: $color-light;
  }
  input {
    display: none;
  }
  .nav-list {
    display: flex;
    margin: 0;
    list-style-type: none;
  }
  .nav-item {
    margin: 0 0.9rem;
    font-size: 1.2rem;
    overflow: hidden;
    background: linear-gradient(
      to right,
      $color-contrast,
      $color-contrast 50%,
      $color-light 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
    text-decoration: none;
    &:hover {
      background-position: 0 100%;
    }
  }

  .active-nav-item {
    color: $color-contrast;
  }

  @media only screen and (max-width: $break-small) {
    margin-top: 0;
    label {
      display: block;
      cursor: pointer;
    }
    .nav-item {
      font-size: 0.8rem;
    }
    .nav-list {
      visibility: hidden;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0;
      height: 0;
      opacity: 0;
      transition: visibility 0s, opacity 2s linear, height 0.2s linear;
    }

    input:checked + .nav-list {
      display: flex;
      height: 20vh;
      visibility: visible;
      opacity: 1;
    }

    input:checked + label {
      color: $color-contrast;
    }
  }
}
