$break-small: 400px;
$break-large: 750px;

$color-darkred: #ce6a6b;
$color-lightred: #ebaca2;
$color-lightgreen: #bed3c3;
$color-turquoise: #4a919e;
$color-darkpurple: #212e53;
$color-white: #f9f9f9f9;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 0 0;
  @media screen and (min-width: $break-large) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.title {
  color: $color-white;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-size: 2.5rem;
    display: none;
    color: $color-lightred;
    outline-color: transparent;
  }

  input {
    display: none;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

  .nav-item {
    color: $color-white;
    font-size: 1.2rem;
    margin: 0 0.9rem;
    text-decoration: none;
  }

  .nav-item:hover {
    color: $color-lightred;
  }

  .active-nav-item {
    color: $color-turquoise;
  }

  @media only screen and (max-width: $break-small) {
    margin-top: 0;

    label {
      display: block;
      cursor: pointer;
    }

    .nav-item {
      font-size: 0.8rem;
    }

    .nav-list {
      height: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 2s linear, height 0.2s linear;
    }

    input:checked + .nav-list {
      display: flex;
      visibility: visible;
      opacity: 1;
      height: 20vh;
    }

    input:checked + label {
      color: $color-turquoise;
    }
  }
}
