@import "../styles/index.scss";

.container {
  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  padding: 2rem;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .title {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 5px;
    a {
      text-decoration: none;
      color: $color-light;
      text-align: center;
    }
  }
  .paragraph {
    padding: 0;
    margin: 0 0 1rem 0;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 1.2px;
    color: $color-light;
  }

  @media only screen and (min-width: $break-small) {
    width: 400px;
    height: 400px;
    img {
      width: 400px;
      height: 400px;
      border: 1px solid $color-light;
    }
  }
}
