$break-small: 400px;
$break-large: 750px;

$color-darkred: #ce6a6b;
$color-lightred: #ebaca2;
$color-lightgreen: #bed3c3;
$color-turquoise: #4a919e;
$color-darkpurple: #212e53;
$color-white: #f9f9f9f9;

.background {
  height: 100vh;
  overflow: hidden;
  background-color: $color-lightred;
}

.container {
  background-color: $color-darkpurple;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  min-height: 100vh;
  overflow: scroll;
  @media only screen and (min-width: $break-large) {
    margin: 2.5vh auto;
    height: 95vh;
    padding: 0 2rem;
  }
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
}
