$color-darkred: #ce6a6b;
$color-lightred: #ebaca2;
$color-lightgreen: #bed3c3;
$color-turquoise: #4a919e;
$color-darkpurple: #212e53;
$color-white: #f9f9f9f9;

.background {
  height: 100vh;
  overflow: hidden;
  background-color: $color-lightred;
}

.container {
  padding: 0 2rem;
  background-color: $color-darkpurple;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 2.5vh auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 95vh;
  overflow: scroll;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
