@import "base";

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

.container {
  display: flex;
  justify-content: center;
}

.span {
  a {
    color: $color-light;
    margin: 0 0.9rem;
    font-size: 1.1rem;
    text-decoration: none;
    font-style: italic;
  }

  a:hover {
    color: $color-contrast;
  }
}
