@import "base";

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.span {
  a {
    color: $color-white;
    font-size: 1.1rem;
    margin: 0 0.9rem;
    text-decoration: none;
    font-style: italic;
  }

  a:hover {
    color: $color-lightred;
  }
}
