@import "../styles/index.scss";

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-between;
  @media only screen and (min-width: $break-large) {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
