@import "base";

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding-bottom: 1rem;
  @media screen and (min-width: $break-small) {
    font-size: 1rem;
  }
}
